body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.app-container {
  display: flex;
  flex-direction: column; /* Use column layout to stack vertically */
  width: 80%;
  max-width: 1000px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  overflow: auto; /* Handle overflow */
}

.product-list-container,
.cart-container {
  margin-bottom: 20px;
}

.product-list-container {
  flex: 1;
  overflow-y: auto; /* Handle overflow within the product list */
}

.cart-container {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

span {
  font-weight: bold;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 16px;
}

.cart-summary {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.cart-summary h3 {
  margin-top: 0;
}

.cart-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.cart-actions button {
  background-color: #dc3545;
  color: white;
}

.cart-actions button:hover {
  background-color: #b32b38;
}
